<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @copy.serial_number %>
</p>

<p>
  <strong>Book:</strong>
  <%= @copy.book %>
</p>

<p>
  <strong>Copy seq:</strong>
  <%= @copy.copy_seq %>
</p>

<p>
  <strong>Available:</strong>
  <%= @copy.available %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
