<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book.book %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.Author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
