<%= form_for(@electroniccopy) do |f| %>
  <% if @electroniccopy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electroniccopy.errors.count, "error") %> prohibited this electroniccopy from being saved:</h2>

      <ul>
      <% @electroniccopy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.number_field :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
