<p id="notice"><%= notice %></p>

<h1>Listing Electroniccopies</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @electroniccopies.each do |electroniccopy| %>
      <tr>
        <td><%= electroniccopy.book %></td>
        <td><%= electroniccopy.data %></td>
        <td><%= link_to 'Show', electroniccopy %></td>
        <td><%= link_to 'Edit', edit_electroniccopy_path(electroniccopy) %></td>
        <td><%= link_to 'Destroy', electroniccopy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Electroniccopy', new_electroniccopy_path %>
